.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin: 40px;
  border: solid 4px #F5F5F5;
}

.card-container {
  padding: 2px 25px;
}

.card button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.edit-button, .delete-button {
    align-items: center;
    justify-content: center;
    background-color: #3272A4;
    color: black;
}

.edit-button:hover, .delete-button:hover {
    background-color: #28597a !important;
    color: #ffffff;
}

.card .task-description {
    overflow-y: auto;
    color: white;
}

.task-title-section h3, .task-description-section h3 {
    color: white;
}